/*
----------------------------------------
 Open Project
----------------------------------------
*/

#openProjectTableLeft {
    background-color: var(--gray-l05);
    color: var(--gray-l95);
    width: 475px;
    vertical-align: middle;
    padding: 0px 0px 0px 50px;
}

#openProjectTableRight {
    color: var(--gray-l95);
    vertical-align: middle;
    padding:0px 0px 0px 50px;
    font-size: 40px;
    background-color: var(--gray-l10);
}

#splashScreenLogo {
    width: 400px;
    margin: 0px 20px 16px 0px;
}

.splashVerName,
.splashVerNum,
.splashBlurb {
    color: var(--gray-l90);
    width: 350px;
}

.splashVerName {
    font-size: 1em;
}

.splashVerNum {
    font-size: 0.8em;
}

.splashVerNum a {
    color: var(--gray-l90);
    font-size: 1em;
    text-decoration: underline;
}

.splashBlurb {
    color: var(--gray-l70);
    font-size: 0.6em;
    margin-top: 10px;
}

.splashBlurb a {
    color: var(--gray-l80);
    font-size: 1em;
    text-decoration: underline;
}

.splashVerNum a,
.splashBlurb a {
    text-decoration-color: var(--gray-l60);
}

.splashVerNum a:hover,
.splashBlurb a:hover {
    text-decoration-color: var(--gray-l85);
    color: var(--gray-l85);
}

.openProjectTabWrapper {
    width: 400px;
    position: absolute;
    top: calc(50% - 100px);
}
.openProjectTabContent {
    margin: 20px 4px 0px 10px;
    display: inline;
    color: var(--gray-l95);
}

.openProjectTabContent h2 {
    color: var(--gray-l95);
    display: block;
    padding-right: 0px;
}

.openProjectTabContent #customRangeBegin,
.openProjectTabContent #customRangeEnd {
    width: 140px;
}

.openProjectTabs {
    margin-left: 10px;
}

.openProjectTabs button {
    /*background-color: rgb(229,234,239);*/
    background-color: transparent;
    border-bottom: 3px solid var(--gray-l35);
    padding: 4px 16px;
    margin: 0px;
    color: var(--blue-l70);
    outline-width: 0px;
    border-radius: 0px;
}
.openProjectTabs button:hover {
    border-bottom: 3px solid var(--blue-l45) !important;
    background-color: var(--gray-l45);
}

#newProjectName	{
    width: 94%;
    height: 25px;
    margin: 10px 0px 0px 0px;
    color: var(--gray-l30);
    display: block;
}

#dropTarget {
    width: 90%;
    margin: 5px 0px 0px 0px;
    background-color: var(--gray-l95);
    border:1px dashed var(--gray-l65);
    color: var(--blue-l35);
    font-weight: bold;
    padding: 18px 0px 20px 20px;
    line-height: 2em;
}

.checkCol {
    width: 30px;
    vertical-align: top;
    padding: 4px;
}

/*
----------------------------------------
 Glyph Edit
----------------------------------------
*/

.glyphEdit {
    display: grid;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    grid-template-columns: 400px 1fr;
}

.glyphEditLeftArea {
    grid-column: 1;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.glyphEditRightArea {
    grid-column: 2;
}

.glyphEditLeftArea fancy-button {
    grid-row: 1;
    width: 100%;
}

.glyphEditLeftArea panel-area {
    grid-row: 2;
}

.glyphEditRightArea canvas-display {
    width: 100%;
    height: 100%;
    background-color: white;
}