.nav-button,
.nav-button:hover,
.nav-button:active,
.nav-button:focus {
	display: grid;
	grid-template-rows: min-content 1fr;
	gap: 2px;
	height: 48px;
	margin: 0;
	padding: 10px;
	text-align: left;
	border-radius: 0;
	box-shadow: var(--l2-shadow);
}

.nav-button:active {
	position: relative;
	left: 1px;
	top: 1px;
}

.nav-button:focus {
	outline-offset: -1px;
}

#nav-button-l1,
#nav-button-l1:active,
#nav-button-l1:hover,
#nav-button-l1:focus {
	width: max-content;
	border-top-left-radius: 4px;
	background-color: var(--blue-l20);
	padding-right: 20px;
}

#nav-button-l2,
#nav-button-l2:active,
#nav-button-l2:hover,
#nav-button-l2:focus {
	border-top-right-radius: 4px;
	background-color: var(--blue-l30);
}

#nav-button-l3,
#nav-button-l3:active,
#nav-button-l3:hover,
#nav-button-l3:focus {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: var(--blue-l40);
}

.nav-button__super-title {
	color: var(--blue-l85);
	font-size: 0.64em;
	letter-spacing: 0.2ch;
	opacity: 80%;
}

.nav-button__title {
	margin-bottom: 4px;
	color: var(--blue-l90);
	font-size: 1.1em;
	letter-spacing: 0.05ch;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#nav-dropdown {
	display: grid;
	background-color: var(--offWhite);
	box-shadow: var(--l3-shadow-down);
	position: absolute;
	z-index: 100;
	padding: 0px;
	border-radius: 0px 0px 4px 4px;
	border-width: 4px 0px 0px 0px;
	max-height: calc(100% - 95px);
	overflow-x: hidden;
	overflow-y: auto;
	animation: var(--slide-down-animate-in);
}

.nav-dropdown__button {
	display: grid;
	align-items: center;
	column-gap: 15px;
	grid-template-columns: min-content max-content;
	margin: 4px 10px 10px 2px;
	border-radius: 0;
	border-color: transparent;
	border-right: 4px solid transparent;
	color: var(--blue-l80);
	text-align: left;
	background-color: transparent;
	font-size: 1.1em;
	width: calc(100% - 10px);
	box-shadow: none;
}

.nav-dropdown__button:hover,
.nav-dropdown__button:focus {
	border-color: transparent;
	border-right: 4px solid var(--blue-l90);
	border-radius: 0;
	margin: 4px 10px 10px 2px;
	color: var(--blue-l90);
	background-color: hsla(0, 0%, 100%, 0.1);
	box-shadow: none;
}

.nav-dropdown__button svg {
	height: 24px;
	width: 24px;
}

.nav-dropdown__button span {
	font-size: 1.2em;
	margin-top: 4px;
}
