.editor-page__panel {
	grid-row: 3;
	width: 450px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 1;
	animation: fade 400ms linear;
}

@keyframes fade {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.panel__card {
	display: grid;
	/* align with buttons at the bottom of cards */
	grid-template-columns: clamp(110px, 150px, 190px) 1fr;
	align-items: center;
	justify-items: left;
	row-gap: 5px;
	column-gap: 11px;
	margin-bottom: 5px;
	margin-right: 0px;

	border: 1px solid var(--blue-l85);
	padding: 10px 10px 15px 10px;
	background-color: var(--offWhite);
	border-radius: 4px;
	box-shadow: var(--l2-shadow);
}

.panel__card.full-width,
.pre-checkbox {
	grid-column: 1 / -1;
	grid-template-columns: 1fr;
	column-gap: 0;
}

.pre-checkbox input[type='checkbox'] {
	margin: 10px 10px 0px 0px;
}

.pre-checkbox h4 {
	position: relative;
	top: -3px;
}

#h1InputGroup,
#h2InputGroup {
	grid-column: 1 / -1;
	display: grid;
	width: 100%;
	/* align with buttons at the bottom of cards */
	grid-template-columns: clamp(110px, 150px, 190px) 1fr;
	align-items: center;
	justify-items: left;
	row-gap: 5px;
	column-gap: 11px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.panel__card h1,
.panel__card h2,
.panel__card h3,
.panel__card h4,
.panel__card h5,
.panel__card h6 {
	display: inline-block;
	grid-column: 1 / -1;
	margin-bottom: 0;
}

.panel__card label {
	grid-column: 1;
	line-height: 20px;
}

.panel__card .info {
	display: grid !important;
	gap: 8px;
	grid-template-columns: max-content min-content;
	grid-template-rows: max-content;
	align-items: center;
}

#bubble h1,
#bubble h2,
#bubble h3,
#bubble h4,
#bubble h5,
#bubble h6 {
	color: var(--gray-l70) !important;
	margin: 20px 0px 5px 0px;
}

#bubble h1 {
	margin-top: 0px;
}

.panel__card input[type='checkbox'] {
	width: 20px;
	height: 20px;
	margin-bottom: 4px;
	cursor: pointer;
}

.panel__card .doubleInput {
	width: 100%;
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 16px 1fr;
}

.panel__card input {
	width: 100%;
}

.panel__card input-number,
.panel__card input-number-lockable {
	width: 120px;
}

.panel__card .doubleInput input-number,
.panel__card .doubleInput input-number-lockable {
	width: 100%;
}

.rowPad {
	display: block;
	height: 10px;
	grid-column: 1 / -1;
}

.dimSplit {
	color: var(--gray-l80);
	width: 16px;
	text-align: center;
	display: inline-block;
	font-size: 0.8em;
	padding-top: 6px;
}

.pointTypeButton,
.pointTypeButton:hover,
.pointTypeButton:focus {
	display: inline-block;
	width: 28px;
	height: 28px;
	background-color: var(--enabled-restingLight-background);
	color: var(--gray-l60);
	padding: 3px 5px 5px 3px;
	margin-right: 5px;
	box-shadow: none;
	border-style: solid;
	border-color: var(--enabled-restingLight-border);
	border-radius: 4px;
}

.pointTypeButton[selected] {
	border-color: var(--blue-l65);
}

.pointTypeButton[selected] svg g {
	fill: var(--blue-l65);
}

.pointTypeButton[selected]:hover {
	cursor: default;
	border-color: var(--blue-l65);
}

.pointTypeButton:hover {
	border-color: var(--enabled-focus-border);
}

:root {
	--action-icon-size: 30px;
}

.panel__actions-area {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(10, var(--action-icon-size));
	grid-template-rows: var(--action-icon-size);
	gap: 10px;
	margin-bottom: 6px;
}

.panel__actions-area h3 {
	grid-column: 1 / -1;
}

.panel__actions-area button {
	background-color: var(--gray-l95);
	color: var(--gray-l60);
	padding: 4px;
	height: 100%;
}

.panel__actions-area button:disabled {
	background-color: transparent;
	box-shadow: none;
	opacity: 0.2;
	filter: contrast(60%);
}

/*
	Glyph Chooser
*/
.glyph-chooser__tile-grid {
	background-color: var(--offWhite);
	padding: 10px;
}

.glyph-chooser__tile-grid glyph-tile {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

/*
	Layers panel
*/
.layer-panel__rows-area {
	display: grid;
	gap: 10px;
	width: 100%;
	grid-template-columns: 1fr;
}

.layer-panel__row {
	border: 1px solid var(--gray-l95);
	padding: 2px;
	background-color: var(--gray-l95);
	border-radius: 4px;
	width: 100%;
	display: grid;
	gap: 10px;
	grid-template-columns: min-content max-content;
	align-items: center;
}

.layer-panel__new-path {
	opacity: 0.4;
	font-style: italic;
}
/*
.layer-panel__path {

}

.layer-panel__component {

}
*/
.layer-panel__selected {
	border-right-width: 8px;
	border-right-color: var(--blue-l60);
}

.layer-panel__row:hover,
.layer-panel__row:active {
	border-color: var(--blue-l85);
	cursor: pointer;
}

.layer-panel__layer-thumb {
	background-color: white;
	grid-column: 1;
}

.layer-panel__layer-name {
	display: block;
	height: min-content;
	grid-column: 2;
}

.history-list {
	width: 100%;
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 10px;
	padding-right: 10px;
}

.history-list h3,
.history-list hr {
	grid-column: 1 / -1;
}

.history-list hr {
	width: 100%;
	border-width: 0px 0px 1px 0px;
	border-color: var(--gray-l80);
	margin-top: 20px;
}

.history-list__date {
	width: 100%;
	text-align: right;
	color: var(--enabled-restingLight-lightText);
}

.history-list__initial-entry {
	opacity: 0.6;
}