* {
	box-sizing: border-box;
}

.wrapper {
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr 24px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--enabled-restingLight-border);
	background-color: var(--enabled-restingLight-background);
	border-radius: 4px;
}

.wrapper:hover,
.wrapper:focus,
.wrapper *:hover,
.wrapper *:focus {
	border-color: var(--enabled-focus-border);
}

.wrapper[disabled],
.wrapper[disabled]:hover,
.wrapper[disabled]:focus,
.wrapper[disabled]:active,
.wrapper[disabled] *:hover,
.wrapper[disabled] *:focus {
	background-color: var(--disabled-background);
	border-color: var(--disabled-background);
}
