.canvas-edit__tool,
.canvas-edit__tool:active,
.canvas-edit__tool:focus,
.canvas-edit__tool:hover {
	height:30px;
	width:30px;
	padding: 5px;
	margin: 0 0 5px 0;
	background-color: var(--gray-l90);
}

.canvas-edit__tool-selected,
.canvas-edit__tool-selected:active,
.canvas-edit__tool-selected:focus,
.canvas-edit__tool-selected:hover {
	background-color: var(--blue-l75);
}

.canvas-edit__tool svg {
	height: 20px;
	width: 20px;
	position: relative;
	left: -1px;
	top: -1px;
}
