.content__page {
	height: calc(100% - 10px);
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	display: grid;
	grid-template-columns: 450px 1fr;
	grid-template-rows: 100%;
	column-gap: 10px;
	padding: 0px 10px 10px 10px;
}

.content-page__left-area {
	grid-column: 1;
	display: grid;
	grid-template-rows: min-content max-content;
	row-gap: 2px;
	width: 100%;
}

.content-page__nav-area {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 2px;
}

.content-page__nav-area #nav-button-l1 {
	width: 100%;
	border-radius: 4px;
}

#content-page__panel {
	border: 1px solid var(--blue-l85);
	padding: 10px;
	background-color: var(--offWhite);
	grid-row: 2;
	border-radius: 4px;
	box-shadow: var(--l2-shadow);
}

.content-page__right-area {
	border: 1px solid var(--blue-l85);
	background-color: var(--offWhite);
	grid-column: 2;
	border-radius: 4px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: var(--l3-shadow);
	padding: 20px;
}

.content-page__right-area p {
	margin-bottom: 20px;
	max-width: 800px;
}

.content-page__right-area label {
	color: var(--enabled-restingLight-lightText);
	margin-right: 4px;
}