.editor__page {
	height: calc(100% - 10px);
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	display: grid;
	grid-template-columns: 450px 1fr;
	grid-template-rows: 100%;
	column-gap: 10px;
	padding: 0px 10px 10px 10px;
}

.editor-page__left-area {
	grid-column: 1;
	min-width: 1fr;
	display: grid;
	height: 100%;
	grid-template-rows: min-content max-content;
	row-gap: 2px;
}

.editor-page__nav-area {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 2px;
}

.editor-page__nav-area #nav-button-l3 {
	grid-column: span 2;
}

.editor-page__tools-area {
	padding-left: 10px;
	height: min-content;
	grid-column: 2;
}

.editor-page__zoom-area {
	grid-template-columns: min-content 1fr min-content;
	display: grid;
	column-gap: 5px;
	position: absolute;
	right: 15px;
	bottom: 14px;
}

.edit-canvas__responsive-group {
	display: none;
}

@media (min-width: 810px) {
	.edit-canvas__responsive-group {
		display: grid;
		grid-template-columns: repeat(6, min-content);
		column-gap: 5px;
	}
}

.edit-canvas__zoom-readout {
	width: 4em;
	height: 30px;
}

.editor-page__edit-canvas-wrapper,
.live-preview-page__canvas-wrapper {
	border: 1px solid var(--blue-l85);
	background-color: var(--offWhite);
	grid-column: 3;
	border-radius: 4px;
	width: 100%;
	min-width: 80px;
	height: 100%;
	overflow: hidden;
	box-shadow: var(--l3-shadow);
}

.live-preview-page__canvas-wrapper {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

display-canvas {
	width: 100%;
	height: 100%;
}