.glyph-edit__page {
	display: grid;
	height: calc(100% - 10px);
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	grid-template-columns: 400px  50px 1fr;
	column-gap: 10px;
	padding: 0px 10px 10px 10px;
}

.glyph-edit__left-area {
	grid-column: 1;
	display: grid;
	grid-template-rows: 48px 48px 1fr;
	row-gap: 10px;
}

.glyph-edit__left-area fancy-button {
	width: 100%;
	border-radius: 0;
	height: 48px;
}

.glyph-edit__left-area panel-area {
	grid-row: 3;
}

.glyph-edit__left-area panel-area .wrapper {
	border-radius: 4px;
}

.glyph-edit__tools-area {
	border-radius: 4px;
	padding: 10px;
	height: min-content;
	grid-column: 2;
	background-color: var(--offWhite);
}

.glyph-edit__right-area {
	grid-column: 3;
	border-radius: 4px;
	width: 100%;
	overflow: hidden;
}

canvas-display {
	grid-column: 1;
	grid-row: 1;
	width: 100vw;
	height: 100vh;
}