.glyph-edit__page {
	display: grid;
	height: calc(100% - 10px);
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	grid-template-columns: 1fr 40px 4fr;
	column-gap: 10px;
	padding: 0px 10px 10px 10px;
}

.glyph-edit__left-area {
	grid-column: 1;
	min-width: 1fr;
	display: grid;
	grid-template-rows: min-content max-content;
	row-gap: 2px;
}

.glyph-edit__nav-area {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 2px;
}

.glyph-edit__nav-area #nav-button-l3 {
	grid-column: span 2;
}

.glyph-edit__tools-area {
	padding-left: 10px;
	height: min-content;
	grid-column: 2;
}

.glyph-edit__zoom-area {
	position: absolute;
	right: 15px;
	bottom: 14px;
}

.glyph-edit__zoom-area span {
	grid-template-columns: repeat(8, min-content);
	display: grid;
	column-gap: 5px;
}

.canvas-edit__zoom-readout {
	width: 4em;
	height: 30px;
}

.glyph-edit__right-area {
	border: 1px solid var(--blue-l85);
	background-color: var(--offWhite);
	grid-column: 3;
	border-radius: 4px;
	width: 100%;
	overflow: hidden;
	box-shadow: var(--l3-shadow);
}

canvas-display {
	grid-column: 1;
	grid-row: 1;
	width: 100vw;
	height: 100vh;
}