#open-project__page {
	display: grid;
	grid-template-columns: 475px 1fr;
	background: linear-gradient(135deg, var(--blue-l15), var(--purple-l05));
	position: relative;
	top: -40px;
	width: 100%;
	height: 100vh;
	column-gap: 0;
}

#open-project__left-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.01);
	color: var(--gray-l95);
	width: 475px;
	padding: 0px 0px 0px 50px;
}

#open-project__right-area {
	color: var(--gray-l95);
	vertical-align: middle;
	padding: 0px 0px 0px 50px;
	font-size: 40px;
}

#open-project__logo {
	width: 300px;
	margin: 0px 20px 16px 0px;
}

.open-project__version-name,
.open-project__version-number,
.open-project__blurb {
	color: var(--gray-l90);
	width: 350px;
}

.open-project__version-name {
	font-size: 1em;
}

.open-project__version-number {
	font-size: 0.8em;
}

.open-project__version-number a {
	color: var(--gray-l90);
	font-size: 1em;
	text-decoration: underline;
}

.open-project__blurb {
	color: var(--gray-l70);
	font-size: 0.6em;
	margin-top: 10px;
}

.open-project__blurb a {
	color: var(--gray-l80);
	font-size: 1em;
	text-decoration: underline;
}

.open-project__version-number a,
.open-project__blurb a {
	text-decoration-color: var(--gray-l60);
}

.open-project__version-number a:hover,
.open-project__blurb a:hover {
	text-decoration-color: var(--gray-l85);
	color: var(--gray-l85);
}

.open-project__tab-wrapper {
	width: 400px;
	position: absolute;
	top: calc(50% - 100px);
}
.open-project__tab-content {
	margin: 20px 4px 0px 10px;
	display: inline;
	color: var(--gray-l95);
	animation: var(--animate-fade-in);
}

.open-project__tab-content h2 {
	color: var(--gray-l95);
	display: block;
	padding-right: 0px;
	margin-bottom: 10px;
}

.open-project__tab-content #customRangeBegin,
.open-project__tab-content #customRangeEnd {
	width: 140px;
}

.open-project__tabs {
	margin-left: 10px;
}

.open-project__tabs button {
	/*background-color: rgb(229,234,239);*/
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-bottom-color: var(--blue-l15) !important;
	padding: 4px 16px;
	margin: 0px -2px 0px 0px;
	color: var(--blue-l70);
	outline-width: 0px;
	border-radius: 0px;
}

.open-project__tabs button:hover,
.open-project__tabs button[selected] {
	border-bottom-color: var(--blue-l65) !important;
	color: var(--blue-l75);
	background-color: var(--blue-l05);
}

.open-project__tabs button[selected] {
	background-color: transparent;
}

#input__new-project-name {
	width: 94%;
	height: 25px;
	margin: 10px 0px 0px 0px;
	color: var(--gray-l30);
	display: block;
}

#open-project__drop-target {
	display: block;
	width: 90%;
	margin: 10px 0px 10px 0px;
	background-color: var(--gray-l15);
	border: 1px dashed var(--gray-l65);
	color: var(--gray-l65);
	padding: 18px 0px 20px 20px;
	line-height: 2em;
}

#open-project__drop-note {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: calc(100vh - 20px);
	width: calc(100vw - 20px);
	padding-left: 530px;
	padding-top: 100px;
	font-size: 2em;
	color: var(--blue-l70);
	animation: var(--animate-fade-in);
	backdrop-filter: blur(2px);
	background-color:hsla(285, 100%, 17%, 0.2); /* purple l15 */
	border: var(--global-focus-style);
	border-radius: 10px;
	margin: 10px;
}
