.editor__page {
	height: calc(100% - 10px);
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	display: grid;
	grid-template-columns: 450px 1fr;
	grid-template-rows: 100%;
	column-gap: 10px;
	padding: 0px 10px 10px 10px;
}