#app__wrapper {
	background-color: var(--gray-l95);
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	display: grid;
	grid-template-rows: 40px calc(100vh - 40px);
}

#app__top-bar {
	grid-row: 1;
	padding: 6px 0px 6px 11px;
	z-index: 2000 !important;
	display: grid;
	grid-template-columns: 150px 1fr 320px;
}

#app__main-content {
	grid-row: 2;
}

#app__page {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
}

.page-fade-in {
	animation: var(--animate-fade-in);
}

.top-bar__logo {
	display: inline-block;
	margin-left: 2px;
}

.top-bar__logo svg {
	fill: var(--blue-l50);
}

.top-bar__menus {
	margin-left: 20px;
	margin-top: 8px;
	display: inline-block;
	height: 28px;
}

.menu-entry-point,
.menu-entry-point:hover,
.menu-entry-point:active,
.menu-entry-point:focus {
	font-size: 0.8em;
	padding: 2px 5px;
	margin: 0px;
	position: relative;
	top: -2px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: none;
	color: var(--enabled-resting-lightText);
}

.menu-entry-point:hover {
	color: var(--enabled-active-lightText);
	background-color: var(--enabled-active-background);
}

.top-bar__bug-contact {
	position: absolute;
	opacity: 80%;
	right: 10px;
	top: 10px;
	padding: 2px 4px;
	font-size: 0.8em;
	background-color: var(--purple-l40);
	border: 1px solid var(--purple-l30);
	color: var(--purple-l80);
	border-radius: 3px;
	box-shadow: var(--l3-shadow);
}

.top-bar__bug-contact svg {
	height: 9px;
	fill: var(--purple-l80);
	position: relative;
	top: 1px;
	margin-left: 4px;
}

.top-bar__bug-contact a,
.top-bar__bug-contact a:hover,
.top-bar__bug-contact a:focus,
.top-bar__bug-contact a:visited {
	font-size: 1em;
	color: var(--purple-l90);
}

.top-bar__bug-contact a:active {
	color: white;
}