#app__wrapper,
#app__editor,
#app__page {
  background-color: var(--gray-l95);
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

#app__wrapper {
  padding-bottom: 40px;
}

#app__editor {
  margin-bottom: 10px;
}

#app__wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
}

#app__top-bar {
  color: var(--blue-l50);
  padding: 6px 0px 8px 10px;
  font-size: 1.4em;
}

:root {
  --l1-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  --l2-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  --l3-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}