#toast,
#error {
	display: none;
	width: 300px;
	position: absolute;
	left: 520px;
	margin: 5px 0px 5px 0px;
	/* background-color: rgb(0, 63, 95); */
	background-color: var(--green-l90);
	/* color: rgb(155, 221, 255); */
	color: var(--green-l10);
	padding: 4px 8px;
	z-index: 1010;
	text-align: center;
	border: 1px solid var(--green-l60);
	border-radius: 4px;
	box-shadow: var(--l3-shadow-down);
	animation: var(--animate-fade-in-slide-down);
}

#toast a {
	/* color: rgb(155, 221, 255); */
	color: var(--green-l10);
}

#error {
	margin-top: 10px;
	border-color: var(--red);
	color: var(--darkRed);
	background-color: var(--lightRed);
	display: grid;
	grid-template-rows: 20px 1fr;
	padding:10px 12px 12px 12px;
	row-gap: 10px;
}

#error hr {
	border-color: var(--red);
	margin: 10px 0px;
}

.error__header {
	display: grid;
	grid-template-columns: 1fr 20px;
}

.error__header h3 {
	color: var(--darkRed);
}

.error__header button {
	background-color: var(--darkRed);
	border-color: var(--darkRed);
	color: var(--lightRed);
	width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}

.error__header button:hover {
	color: white;
	border-color: var(--red);
}

#context-menu {
	display: grid;
	padding: 10px;
	background-color: var(--enabled-resting-background);
	z-index: 1 !important;
	border: 1px solid var(--enabled-resting-border);
	border-radius: 0px 4px 4px 4px;
	box-shadow: var(--l3-shadow-down);
	animation: var(--animate-fade-in-slide-down);
}

#context-menu:focus {
	outline: 0;
}

.context-menu-hr hr,
.context-menu-hr hr:hover,
.context-menu-hr hr:active,
.context-menu-hr hr:focus {
	margin: 5px 0px 5px 0px;
	grid-column: 1 / -1;
	border-width: 0px 0px 1px 0px;
	border-color: var(--gray-l90);
}

.context-menu-row {
	display: grid;
	grid-template-columns: 20px 1fr min-content;
	column-gap: 10px;
	padding: 5px 10px 5px 5px;
}

.context-menu-row .shortcut-wrapper {
	width: max-content;
	height: 20px;
	opacity: 0.8;
}

.context-menu-row .shortcut-wrapper code {
	margin: 0px 2px;
	font-size: 0.8em;
}

.context-menu-row svg {
	height: 20px;
	width: 20px;
}

.context-menu-row span {
	line-height: 22px;
	height: 20px;
}

.context-menu-row:hover {
	background-color: var(--enabled-focus-background);
	color: var(--blue-l35);
	cursor: pointer;
}

.context-menu-row:focus {
	outline: var(--global-focus-style);
}