:host {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	border-radius: 4px;
}

* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.wrapper {
	box-sizing: border-box;
	margin: 0;
	border-radius: 4px;
	border-style: solid;
	vertical-align: top;
	text-align: left;
	overflow: hidden;
	border-color: var(--enabled-restingLight-border);
	background-color: var(--enabled-restingLight-background);

}

.wrapper svg {
	fill: var(--enabled-restingLight-fill);
}

.wrapper:hover {
	cursor: pointer;
	border-color: var(--enabled-focus-border);
	background-color: var(--enabled-focus-background);
}

.wrapper:hover svg {
	fill: var(--enabled-focus-fill);
}

.wrapper:focus {
	outline: var(--global-focus-style);
	outline-offset: -1px;
}

.wrapper[selected] {
	border-color: var(--accent-color);
	background-color: var(--enabled-active-background);
}

.wrapper[selected]:hover {
	cursor: pointer;
	border-color: var(--enabled-active-border);
	background-color: var(--enabled-resting-background);
}

.wrapper[selected]:focus {
	outline: var(--global-focus-style);
}

.wrapper[selected] svg {
	fill: var(--accent-color);
}

.wrapper[disabled],
.wrapper:hover[disabled],
.wrapper:focus[disabled],
.wrapper:active[disabled] {
	cursor: default;
	border-color: var(--disabled-border);
	background-color: var(--disabled-background);
}

.wrapper[disabled] svg,
.wrapper:hover[disabled] svg,
.wrapper:focus[disabled] svg,
.wrapper:active[disabled] svg {
	fill: var(--disabled-fill);
}