* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	transition: var(--global-transition);

	--border-resting: var(--enabled-restingLight-border);
	--border-focus: var(--enabled-focus-border);
	--border-disabled: var(--disabled-background);

	--background-resting: var(--enabled-restingLight-background);
	--background-focus: white;
	--background-disabled: var(--disabled-background);

	--text-resting: var(--enabled-resting-text);
	--text-focus: var(--enabled-focus-text);
	--text-disabled: var(--enabled-restingLight-text);

	--fill-resting: var(--enabled-restingLight-fill);
	--fill-focus: var(--enabled-focus-fill);
	--fill-disabled: var(--enabled-restingLight-fill);

	--selected_border-resting: var(--blue-l65);
	--selected_fill-resting: var(--blue-l65);
	--selected_border-focus: var(--blue-l50);
	--selected_fill-focus: var(--blue-l50);
}

:host {
	display: grid;
	background-color: transparent;
	grid-template-columns: 1fr 24px min-content;
	min-height: 26px;
}

.numberInput:focus,
.arrowWrapper:focus,
.upArrow:focus,
.downArrow:focus,
.lock:focus {
	outline: var(--global-focus-style);
	outline-offset: -1px;
}

/* Number input */
.numberInput {
	background-color: var(--background-resting);
	color: var(--text-resting);
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-resting);
	border-right-color: transparent;
	border-radius: 4px 0px 0px 4px;
	grid-column: 1;
	min-width: 50px;
	padding: 4px 8px 4px 2px;
	text-align: right;
	font-family: monospace;
}

.numberInput:hover,
.numberInput:active,
.numberInput:focus {
	background-color: var(--background-focus);
	border-color: var(--border-focus);
	color: var(--text-focus);
}

.numberInput[disabled],
.numberInput[disabled]:hover,
.numberInput[disabled]:focus,
.numberInput[disabled]:active {
	background-color: var(--background-disabled);
	border-color: var(--border-disabled);
	color: var(--text-disabled);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.numberInput[disabled] svg,
.numberInput[disabled]:hover svg,
.numberInput[disabled]:focus svg,
.numberInput[disabled]:active svg {
	fill: var(--fill-disabled);
}

/* Arrows */
.arrowWrapper {
	grid-column-start: 2;
	display: grid;
	/* grid-template-rows: 1fr 1px 1fr; */
	grid-template-rows: 13px 1px 12px;
	background-color: transparent;
	border:0;
	width: 24px;
	height: 26px;
}

.arrowWrapper:hover,
.arrowWrapper:focus,
.arrowWrapper:active {
	border-color: transparent;
	border-left-color: var(--border-resting);
	border-width: 1px;
}

.arrowWrapper:hover .arrowSeparator,
.arrowWrapper:focus .arrowSeparator,
.arrowWrapper:active .arrowSeparator {
	background-color: var(--border-focus);
}

.arrow {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--background-resting);
	border-width: 1px;
	border-style: solid;
	border-color: var(--border-resting);
	text-align: center;
	cursor: pointer;
	width: 24px;
}

.arrow svg {
	fill: var(--fill-resting);
}

.arrowSeparator {
	background-color: var(--border-resting);
}

.upArrow {
	border-width: 1px 1px 0px 1px;
	border-radius: 0px 3px 0px 0px;
	grid-row: 1;
}

.upArrow svg {
	position: relative;
	top: -2px;
}

.downArrow {
	border-width: 0px 1px 1px 1px;
	border-radius: 0px 0px 3px 0px;
	padding-bottom: 1px;
	grid-row: 3;
}

.downArrow svg {
	position: relative;
	top: -1px;
}

.arrow:hover,
.arrow:focus,
.arrow:active {
	background-color: var(--background-focus);
	border-color: var(--border-focus);
}

.arrow:hover svg,
.arrow:focus svg,
.arrow:active svg {
	fill: var(--fill-focus);
}

.arrowWrapper[disabled],
.arrowWrapper[disabled]:hover,
.arrowWrapper[disabled]:focus,
.arrowWrapper[disabled]:active,
.arrowWrapper[disabled] .arrowSeparator,
.arrowWrapper[disabled] .upArrow,
.arrowWrapper[disabled] .downArrow,
.arrowWrapper[disabled] .upArrow:hover,
.arrowWrapper[disabled] .downArrow:hover,
.arrowWrapper[disabled] .upArrow:focus,
.arrowWrapper[disabled] .downArrow:focus,
.arrowWrapper[disabled] .upArrow:active,
.arrowWrapper[disabled] .downArrow:active,
.arrowWrapper[disabled] .arrow svg {
	background-color: var(--background-disabled);
	border-color: var(--border-disabled);
	color: var(--fill-disabled);
	fill: var(--fill-disabled);
	cursor: default;
	outline: none;
}

/* Lock */
.lock {
	grid-column: 3;
	display: none;
	max-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--border-resting);
	border-left-color: transparent;
	border-radius: 0px 4px 4px 0px;
	margin-right: 1px;
	box-sizing: border-box;
	background-color: var(--background-resting);
}

.lock svg {
	fill: var(--fill-resting);
	width: 20px;
	height: 20px;
	margin: 2px;
}

.lock:hover,
.lock:active,
.lock:focus {
	cursor: pointer;
	border-color: var(--border-focus);
	/* border-left-color: transparent; */
	background-color: var(--background-focus);
	/* border-radius: 4px; */
}

.lock:hover svg,
.lock:active svg,
.lock:focus svg {
	fill: var(--fill-focus);
}

.lock[selected] {
	border-color: var(--selected_border-resting);
	border-radius: 4px;
}

.lock[selected] svg {
	fill: var(--selected_fill-resting);
}

.lock[selected]:hover,
.lock[selected]:active,
.lock[selected]:focus {
	border-color: var(--selected_border-focus);
}

.lock[selected]:hover svg,
.lock[selected]:active svg,
.lock[selected]:focus svg {
	fill: var(--selected_fill-focus);
}

.lock[disabled],
.lock:hover[disabled],
.lock:focus[disabled],
.lock:active[disabled] {
	cursor: default;
	border-color: var(--border-disabled);
	background-color: var(--background-disabled);
}

.lock[disabled] svg,
.lock:hover[disabled] svg,
.lock:focus[disabled] svg,
.lock:active[disabled] svg {
	fill: var(--fill-disabled);
}