:root {
  --gray-l95: #E2F3FC;
  --gray-l90: #CFE7F3;
  --gray-l85: #BAD9E9;
  --gray-l80: #A6CCDF;
  --gray-l75: #95BFD4;
  --gray-l70: #8AB1C4;
  --gray-l65: #7FA3B5;
  --gray-l60: #7595A6;
  --gray-l55: #6A8897;
  --gray-l50: #5F7A87;
  --gray-l45: #556D79;
  --gray-l40: #4B606B;
  --gray-l35: #42545E;
  --gray-l30: #394951;
  --gray-l25: #2F3D44;
  --gray-l20: #273238;
  --gray-l15: #1F272C;
  --gray-l10: #161D20;
  --gray-l05: #0E1214;

  --blue-l95: #DEF4FF;
  --blue-l90: #C0E9FD;
  --blue-l85: #9BDDFF;
  --blue-l80: #73D1FF;
  --blue-l75: #49C4FF;
  --blue-l70: #2EB5FA;
  --blue-l65: #00A5F8;
  --blue-l60: #0097E3;
  --blue-l55: #008ACF;
  --blue-l50: #007DBB;
  --blue-l45: #0071AA;
  --blue-l40: #006498;
  --blue-l35: #005782;
  --blue-l30: #004A70;
  --blue-l25: #004060;
  --blue-l20: #00344E;
  --blue-l15: #00283D;
  --blue-l10: #001E2E;
  --blue-l05: #00141E;

  --orange-l95: #FFECE3;
  --orange-l90: #FFDAC7;
  --orange-l85: #FFC7AB;
  --orange-l80: #FFB48F;
  --orange-l75: #FFA070;
  --orange-l70: #FF8B50;
  --orange-l65: #FF6B1F;
  --orange-l60: #FF5500;
  --orange-l55: #EB4E00;
  --orange-l50: #D54700;
  --orange-l45: #BF3F00;
  --orange-l40: #A83800;
  --orange-l35: #963100;
  --orange-l30: #822A00;
  --orange-l25: #6E2400;
  --orange-l20: #591E00;
  --orange-l15: #471800;
  --orange-l10: #331100;
  --orange-l05: #210B00;

  --green-l95: #A1FFA9;
  --green-l90: #7DFD88;
  --green-l85: #60F06D;
  --green-l80: #44E351;
  --green-l75: #2AD439;
  --green-l70: #14C623;
  --green-l65: #00B60F;
  --green-l60: #00A70E;
  --green-l55: #00980D;
  --green-l50: #008A0B;
  --green-l45: #007C0A;
  --green-l40: #036E0C;
  --green-l35: #006008;
  --green-l30: #005407;
  --green-l25: #004606;
  --green-l20: #003A05;
  --green-l15: #002D04;
  --green-l10: #002103;
  --green-l05: #001402;

  --purple-l95: #FAEAFF;
  --purple-l90: #F5D8FF;
  --purple-l85: #F0C5FF;
  --purple-l80: #EBB1FF;
  --purple-l75: #E69CFF;
  --purple-l70: #E289FF;
  --purple-l65: #DB6FFF;
  --purple-l60: #D454FF;
  --purple-l55: #CF38FF;
  --purple-l50: #BF00FF;
  --purple-l45: #AD00E7;
  --purple-l40: #9A00CE;
  --purple-l35: #8800B6;
  --purple-l30: #75009C;
  --purple-l25: #650088;
  --purple-l20: #52006E;
  --purple-l15: #420057;
  --purple-l10: #330043;
  --purple-l05: #240031;
}
