
:root {
  --gray-l99: hsl(198, 40%, 98%);
  --gray-l97: hsl(198, 40%, 96%);
  --gray-l95: hsl(198, 40%, 94%);
  --gray-l90: hsl(198, 40%, 88%);
  --gray-l85: hsl(198, 40%, 82%);
  --gray-l80: hsl(198, 40%, 77%);
  --gray-l75: hsl(198, 40%, 71%);
  --gray-l70: hsl(198, 40%, 65%);
  --gray-l65: hsl(198, 40%, 59%);
  --gray-l60: hsl(198, 40%, 53%);
  --gray-l55: hsl(198, 40%, 48%);
  --gray-l50: hsl(198, 40%, 43%);
  --gray-l45: hsl(198, 40%, 38%);
  --gray-l40: hsl(198, 40%, 34%);
  --gray-l35: hsl(198, 40%, 30%);
  --gray-l30: hsl(198, 40%, 26%);
  --gray-l25: hsl(198, 40%, 21%);
  --gray-l20: hsl(198, 40%, 17%);
  --gray-l15: hsl(198, 40%, 14%);
  --gray-l10: hsl(198, 40%, 10%);
  --gray-l05: hsl(198, 40%, 6%);

  --blue-l99: hsl(198, 100%, 98%);
  --blue-l97: hsl(198, 100%, 96%);
  --blue-l95: hsl(198, 100%, 96%);
  --blue-l95: hsl(198, 100%, 93%);
  --blue-l90: hsl(198, 100%, 86%);
  --blue-l85: hsl(198, 100%, 78%);
  --blue-l80: hsl(198, 100%, 70%);
  --blue-l75: hsl(198, 100%, 60%);
  --blue-l70: hsl(198, 100%, 50%);
  --blue-l65: hsl(198, 100%, 46%);
  --blue-l60: hsl(198, 100%, 42%);
  --blue-l55: hsl(198, 100%, 38%);
  --blue-l50: hsl(198, 100%, 35%);
  --blue-l45: hsl(198, 100%, 31%);
  --blue-l40: hsl(198, 100%, 28%);
  --blue-l35: hsl(198, 100%, 24%);
  --blue-l30: hsl(198, 100%, 21%);
  --blue-l25: hsl(198, 100%, 18%);
  --blue-l20: hsl(198, 100%, 14%);
  --blue-l15: hsl(198, 100%, 11%);
  --blue-l10: hsl(198, 100%, 8%);
  --blue-l05: hsl(198, 100%, 5%);

  --royal-l95: hsl(220, 100%, 96%);
  --royal-l90: hsl(220, 100%, 92%);
  --royal-l85: hsl(220, 100%, 88%);
  --royal-l80: hsl(220, 100%, 84%);
  --royal-l75: hsl(220, 100%, 79%);
  --royal-l70: hsl(220, 100%, 75%);
  --royal-l65: hsl(220, 100%, 71%);
  --royal-l60: hsl(220, 100%, 67%);
  --royal-l55: hsl(220, 100%, 62%);
  --royal-l50: hsl(220, 100%, 57%);
  --royal-l45: hsl(220, 100%, 52%);
  --royal-l40: hsl(220, 100%, 46%);
  --royal-l35: hsl(220, 100%, 40%);
  --royal-l30: hsl(220, 100%, 35%);
  --royal-l25: hsl(220, 100%, 29%);
  --royal-l20: hsl(220, 100%, 24%);
  --royal-l15: hsl(220, 100%, 19%);
  --royal-l10: hsl(220, 100%, 14%);
  --royal-l05: hsl(220, 100%, 9%);

  --purple-l95: hsl(285, 100%, 97%);
  --purple-l90: hsl(285, 100%, 92%);
  --purple-l85: hsl(285, 100%, 89%);
  --purple-l80: hsl(285, 100%, 85%);
  --purple-l75: hsl(285, 100%, 81%);
  --purple-l70: hsl(285, 100%, 77%);
  --purple-l65: hsl(285, 100%, 72%);
  --purple-l60: hsl(285, 100%, 67%);
  --purple-l55: hsl(285, 100%, 61%);
  --purple-l50: hsl(285, 100%, 50%);
  --purple-l45: hsl(285, 100%, 45%);
  --purple-l40: hsl(285, 100%, 40%);
  --purple-l35: hsl(285, 100%, 36%);
  --purple-l30: hsl(285, 100%, 31%);
  --purple-l25: hsl(285, 100%, 26%);
  --purple-l20: hsl(285, 100%, 22%);
  --purple-l15: hsl(285, 100%, 18%);
  --purple-l10: hsl(285, 100%, 14%);
  --purple-l05: hsl(285, 100%, 9%);

  --orange-l97: hsl(20, 100%, 97%);
  --orange-l95: hsl(20, 100%, 95%);
  --orange-l90: hsl(20, 100%, 90%);
  --orange-l85: hsl(20, 100%, 84%);
  --orange-l80: hsl(20, 100%, 79%);
  --orange-l75: hsl(20, 100%, 73%);
  --orange-l70: hsl(20, 100%, 67%);
  --orange-l65: hsl(20, 100%, 59%);
  --orange-l60: hsl(20, 100%, 51%);
  --orange-l55: hsl(20, 100%, 46%);
  --orange-l50: hsl(20, 100%, 42%);
  --orange-l45: hsl(20, 100%, 37%);
  --orange-l40: hsl(20, 100%, 33%);
  --orange-l35: hsl(20, 100%, 29%);
  --orange-l30: hsl(20, 100%, 25%);
  --orange-l25: hsl(20, 100%, 21%);
  --orange-l20: hsl(20, 100%, 17%);
  --orange-l15: hsl(20, 100%, 14%);
  --orange-l10: hsl(20, 100%, 10%);
  --orange-l05: hsl(20, 100%, 7%);

  --green-l95: hsl(125, 81%, 90%);
  --green-l90: hsl(125, 94%, 75%);
  --green-l85: hsl(125, 87%, 61%);
  --green-l80: hsl(125, 90%, 48%);
  --green-l75: hsl(125, 97%, 43%);
  --green-l70: hsl(125, 100%, 39%);
  --green-l65: hsl(125, 100%, 36%);
  --green-l60: hsl(125, 100%, 33%);
  --green-l55: hsl(125, 100%, 30%);
  --green-l50: hsl(125, 100%, 28%);
  --green-l45: hsl(125, 100%, 24%);
  --green-l40: hsl(125, 100%, 21%);
  --green-l35: hsl(125, 100%, 19%);
  --green-l30: hsl(125, 100%, 16%);
  --green-l25: hsl(125, 100%, 14%);
  --green-l20: hsl(125, 100%, 11%);
  --green-l15: hsl(125, 100%, 9%);
  --green-l10: hsl(125, 100%, 7%);
  --green-l05: hsl(125, 100%, 4%);

	--accent-color: var(--blue-l70);
	--accent-color-dark: var(--blue-l50);

	--offWhite: hsl(200, 81%, 97%);
	--darkRed: hsl(0, 100%, 23%);
	--red: hsl(0, 100%, 48%);
	--lightRed: hsl(0, 100%, 90%);

	--enabled-resting-text: hsl(0, 0%, 5%);
	--enabled-resting-lightText: hsl(0, 0%, 10%);
	--enabled-resting-border: hsl(0, 0%, 75%);
	--enabled-resting-fill: hsl(0, 0%, 40%);
	--enabled-resting-background: hsl(0, 0%, 98%);

	--enabled-restingLight-text: hsl(0, 0%, 20%);
	--enabled-restingLight-lightText: hsl(0, 0%, 30%);
	--enabled-restingLight-border: hsl(0, 0%, 80%);
	--enabled-restingLight-fill: hsl(0, 0%, 60%);
	--enabled-restingLight-background: hsl(0, 0%, 98%);

	--enabled-focus-text: hsl(0, 0%, 0%);
	--enabled-focus-lightText: hsl(0, 0%, 10%);
	--enabled-focus-border: hsl(200, 25%, 63%);
	--enabled-focus-fill: hsl(200, 25%, 25%);
	--enabled-focus-background: white;

	--enabled-active-text: hsl(0, 0%, 0%);
	--enabled-active-lightText: hsl(0, 0%, 10%);
	--enabled-active-border: hsl(0, 0%, 63%);
	--enabled-active-fill: var(--accent-color);
	--enabled-active-background: white;

	--disabled-text: hsl(0, 0%, 40%);
	--disabled-text-light: hsl(0, 0%, 60%);
	--disabled-text-dark: hsl(0, 0%, 20%);
	--disabled-border: hsl(0, 0%, 82%);
	--disabled-fill: hsl(0, 0%, 82%);
	--disabled-background: hsl(0, 0%, 94%);
}
