:root {
	--gray-l97: hsl(200, 81%, 97%);
	--gray-l95: hsl(200, 81%, 94%);
	--gray-l90: hsl(200, 60%, 88%);
	--gray-l85: hsl(200, 52%, 82%);
	--gray-l80: hsl(200, 47%, 76%);
	--gray-l75: hsl(200, 42%, 71%);
	--gray-l70: hsl(200, 33%, 65%);
	--gray-l65: hsl(200, 27%, 60%);
	--gray-l60: hsl(200, 22%, 55%);
	--gray-l55: hsl(200, 18%, 50%);
	--gray-l50: hsl(200, 17%, 45%);
	--gray-l45: hsl(200, 17%, 40%);
	--gray-l40: hsl(200, 18%, 36%);
	--gray-l35: hsl(200, 18%, 31%);
	--gray-l30: hsl(200, 17%, 27%);
	--gray-l25: hsl(200, 18%, 23%);
	--gray-l20: hsl(200, 18%, 19%);
	--gray-l15: hsl(200, 17%, 15%);
	--gray-l10: hsl(200, 19%, 11%);
	--gray-l05: hsl(350, 17%, 7%);

	--blue-l98: hsl(200, 100%, 98%);
	--blue-l95: hsl(200, 100%, 94%);
	--blue-l90: hsl(200, 100%, 87%);
	--blue-l85: hsl(200, 100%, 80%);
	--blue-l80: hsl(200, 100%, 73%);
	--blue-l75: hsl(199, 100%, 64%);
	--blue-l70: hsl(200, 100%, 58%);
	--blue-l65: hsl(200, 100%, 49%);
	--blue-l60: hsl(200, 100%, 45%);
	--blue-l55: hsl(200, 100%, 41%);
	--blue-l50: hsl(200, 100%, 37%);
	--blue-l45: hsl(200, 100%, 33%);
	--blue-l40: hsl(200, 100%, 30%);
	--blue-l35: hsl(200, 100%, 25%);
	--blue-l30: hsl(200, 100%, 22%);
	--blue-l25: hsl(200, 100%, 19%);
	--blue-l20: hsl(200, 100%, 15%);
	--blue-l15: hsl(200, 100%, 12%);
	--blue-l10: hsl(200, 100%, 9%);
	--blue-l05: hsl(200, 100%, 6%);

	--orange-l98: hsl(20, 100%, 98%);
	--orange-l95: hsl(20, 100%, 95%);
	--orange-l90: hsl(20, 100%, 89%);
	--orange-l85: hsl(20, 100%, 84%);
	--orange-l80: hsl(20, 100%, 78%);
	--orange-d80: rgb(227, 190, 171);
	--orange-l75: hsl(20, 100%, 72%);
	--orange-l70: hsl(20, 100%, 66%);
	--orange-d70: rgb(212, 154, 125);
	--orange-l65: hsl(20, 100%, 56%);
	--orange-l60: hsl(20, 100%, 50%);
	--orange-d60: rgb(191, 106, 64);
	--orange-l55: hsl(20, 100%, 46%);
	--orange-l50: hsl(20, 100%, 42%);
	--orange-d50: rgb(161, 89, 54);
	--orange-l45: hsl(20, 100%, 37%);
	--orange-l40: hsl(20, 100%, 33%);
	--orange-d40: rgb(126, 70, 42);
	--orange-l35: hsl(20, 100%, 29%);
	--orange-l30: hsl(20, 100%, 25%);
	--orange-l25: hsl(20, 100%, 22%);
	--orange-l20: hsl(20, 100%, 17%);
	--orange-l15: hsl(20, 100%, 14%);
	--orange-l10: hsl(20, 100%, 10%);
	--orange-l05: hsl(20, 100%, 6%);

	--green-l98: hsl(125, 100%, 98%);
	--green-l95: hsl(125, 100%, 82%);
	--green-l90: hsl(125, 97%, 74%);
	--green-l85: hsl(125, 83%, 66%);
	--green-l80: hsl(125, 74%, 58%);
	--green-l75: hsl(125, 67%, 50%);
	--green-l70: hsl(125, 82%, 43%);
	--green-l65: hsl(125, 100%, 36%);
	--green-l60: hsl(125, 100%, 33%);
	--green-l55: hsl(125, 100%, 30%);
	--green-l50: hsl(125, 100%, 27%);
	--green-l45: hsl(125, 100%, 24%);
	--green-l40: hsl(125, 95%, 22%);
	--green-l35: hsl(125, 100%, 19%);
	--green-l30: hsl(125, 100%, 16%);
	--green-l25: hsl(125, 100%, 14%);
	--green-l20: hsl(125, 100%, 11%);
	--green-l15: hsl(125, 100%, 9%);
	--green-l10: hsl(125, 100%, 6%);
	--green-l05: hsl(125, 100%, 4%);

	--purple-l98: hsl(285, 100%, 98%);
	--purple-l95: hsl(285, 100%, 96%);
	--purple-l90: hsl(285, 100%, 92%);
	--purple-l85: hsl(285, 100%, 89%);
	--purple-l80: hsl(285, 100%, 85%);
	--purple-l75: hsl(285, 100%, 81%);
	--purple-l70: hsl(285, 100%, 77%);
	--purple-l65: hsl(285, 100%, 72%);
	--purple-l60: hsl(285, 100%, 66%);
	--purple-l55: hsl(285, 100%, 61%);
	--purple-l50: hsl(285, 100%, 50%);
	--purple-l45: hsl(285, 100%, 45%);
	--purple-l40: hsl(285, 100%, 40%);
	--purple-l35: hsl(285, 100%, 36%);
	--purple-l30: hsl(285, 100%, 31%);
	--purple-l25: hsl(285, 100%, 27%);
	--purple-l20: hsl(285, 100%, 22%);
	--purple-l15: hsl(285, 100%, 17%);
	--purple-l10: hsl(285, 100%, 13%);
	--purple-l05: hsl(285, 100%, 10%);

	--offWhite: hsl(200, 81%, 97%);
	--darkRed: hsl(0, 100%, 23%);
	--red: hsl(0, 100%, 48%);
	--lightRed: hsl(0, 100%, 90%);
	--accent-color: hsl(200, 100%, 37%);
	--accent-color-light: hsl(200, 100%, 49%);

	--enabled-resting-text: hsl(0, 0%, 5%);
	--enabled-resting-lightText: hsl(0, 0%, 10%);
	--enabled-resting-border: hsl(0, 0%, 75%);
	--enabled-resting-fill: hsl(0, 0%, 40%);
	--enabled-resting-background: hsl(0, 0%, 98%);

	--enabled-restingLight-text: hsl(0, 0%, 20%);
	--enabled-restingLight-lightText: hsl(0, 0%, 30%);
	--enabled-restingLight-border: hsl(0, 0%, 80%);
	--enabled-restingLight-fill: hsl(0, 0%, 60%);
	--enabled-restingLight-background: hsl(0, 0%, 98%);

	--enabled-focus-text: hsl(0, 0%, 0%);
	--enabled-focus-lightText: hsl(0, 0%, 10%);
	--enabled-focus-border: hsl(200, 25%, 63%);
	--enabled-focus-fill: hsl(200, 25%, 25%);
	--enabled-focus-background: white;

	--enabled-active-text: hsl(0, 0%, 0%);
	--enabled-active-lightText: hsl(0, 0%, 10%);
	--enabled-active-border: hsl(0, 0%, 63%);
	--enabled-active-fill: var(--accent-color);
	--enabled-active-background: white;

	--disabled-text: hsl(0, 0%, 40%);
	--disabled-text-light: hsl(0, 0%, 60%);
	--disabled-text-dark: hsl(0, 0%, 20%);
	--disabled-border: hsl(0, 0%, 82%);
	--disabled-fill: hsl(0, 0%, 82%);
	--disabled-background: hsl(0, 0%, 94%);
}
